<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="<%= url %>/css/style.css" />
    <!-- <link
      rel="stylesheet"
      href="<%= url %>/css/backgroundChange.css"
    /> -->
    <title>Site Algoritmos</title>
  </head>
  <body class="transparent" id="body">
    <% if (header) { %>
      <header id="arrow-back" class="arrow-back">
        <a href="/"><img src="<%= url %>/images/arrow.svg" alt="arrow"></a>
      </header>
    <% } %>
    <%- body %>
    <script src="<%= url %>/js/index.js"></script>
  </body>
</html>
