<%- contentFor('body') %>
<section id="somador" class="algoritmo">

  <div id="slide-area" class="slide-area"></div>

  <div id="slider" class="slide-menu slide-off">
    <div id="transition" class="transparent">
      <h2>Gerar array automático</h2>
      <form action="/somador/generate-array" method="POST" autocomplete="off">
        <input type="number" name="size" placeholder="Tamanho" />
        <input type="number" name="min" placeholder="Valor min" />
        <input type="number" name="max" placeholder="Valor máx" />
        <button type="submit">gerar</button>
      </form>
      <h2>Informações do Algoritmo</h2>
      <p>Algoritmo com o objetivo de somar todos os elementos de um array.</p>
    </div>
  </div>

  <div class="flip-container">
    <button id="btn-menu" class="flipper" ><</button>
  </div>

    <h1>Somar um array</h1>
    <div class="container">
      <form action="/somador" method="POST" autocomplete="off">
        <p>Insira os números separados por vírgula:</p>
        <input
          type="text"
          name="array"
          required
          autofocus
          pattern="^[\d\-,.]+$"
          placeholder="Ex: 1,2,3,4,5"
          value="<%= value %>"
        />
        <button type="submit">Somar</button>
      </form>
      <div class="resultado">
        <% if(resultado) { %>
        <p>
          Soma: <%= resultado %>
          <br />
          <br />
          Array: [ <%= entry %> ]
        </p>
        <% } %>
      </div>
    </div>
</section>
<script src="<%= url %>/js/algorithmPage.js"></script>
